.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: #000000;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #ed1c24;

}

.dropdown-menu.clicked {
    display:none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}