.counterCont {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 1em;
}
.counterItem {
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding: 0.5em;
}
.counterItem:hover {
    color: #ec2027;
}
.active {
    background-color: lightgrey;
    border-radius: 0.5em;
}
