.container {
  /* height: auto; */
  margin: 5rem auto -7rem;

  text-align: center;

  /* padding: 10px; */

  width: 50%;
  /* left: 100%; */
}

.email {
  width: 23%;
  height: 20%;
  border-radius: 25px;

  color: transparent;
  background-color: transparent;
  background: transparent;
  border: black 1px solid;
}
