.front-page {
  display: flex;
  flex-flow: column wrap;

  justify-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-gallery {
  /* flex-flow: row wrap; */
  display: inline-grid;
  display: -ms-inline-grid; /* IE Browser */

  margin-top: 30px;
  margin-left: 10px;
  /* margin-bottom: 20px; */
}

.responsive-gallery {
  width: 180px;
  height: 180px;
  object-fit: contain;

  border: 1px transparent;
  margin-bottom: 10px;
  /* border-width: 100px; */
  /* padding: 100px; */
}
.chaptersTitle {
  margin-top: 1em;
  font-size: 32px;
}

.chaptersName {
  display: inline-block;
  font-size: 12px;
  color: black;

  width: 0.2px;
  display: inherit;

  margin-bottom: 50px;
}

.description {
  margin: auto;
  font-size: 18px;
  margin-top: 70px;
  margin-bottom: 30px;
  width: 50%;
}
