.ft-title {
    color: #ed1c24;
    font-size: 1.375rem;
    padding-bottom: 0.3rem;
}

.ft-logo{
    justify-self: start;
}
.ppiaLogo {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.ft-body {
    display: flex;
    min-height: 10vh;
    flex-direction: column;
    margin: 0;
    margin-top: 2em;
    padding-bottom: 2rem;
    background-color: #fff;
    color: #bbb;
}

.ft-main {
    padding: 0.75rem 0.75rem;
    display: flex;
    justify-content: space-evenly;
}
.ft-link {
    text-decoration: none;
    color: #000;
}
.ft-link:hover {
    text-decoration: underline;
    color: #ed1c24;
    font-weight: 400;
}

.ft-ul {
    margin: auto;
    list-style: none;
    padding-left: 0;
    
}
.ft-ul li {
    padding: 0.25em;
    padding-left: 0;
}
.ft-main-item {
    padding: 0.5rem;
    min-width: 12.5rem /*200px*/;
}

.ft-main-content{
    line-height: 175%;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/) {
    .ft-main {
        justify-content: space-evenly;
    }
}

.ft-social {
    border-top: 1px rgb(88, 88, 88) solid;
    padding: auto;
    padding-bottom: 00.5rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    padding-top: 0.10rem;
}
.ft-social-list li {
    margin-top: 00.5rem;
    margin-left: 2rem;
    font-size: 1.25rem;
}
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #ed1c24;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1; /* same as flex-grow: 1; */
}
i:hover {
    color: rgb(255, 0, 0);
}
