.ft-PPIA {
    color: #000;
}

.ft-logo{
    color: #fff;
    justify-self: start;
}
.ppiaLogo{
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.ft-title {
    color: #000;
    font-size: 1.375rem;
    /* padding-bottom: 0.625rem; */
}
.ft-link {
    text-decoration: none;
    color: #000;
}
.ft-link:hover {
    text-decoration: underline;
    color: #ed1c24;
    font-weight: 400;
}
.ft-body {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 188, 188);
    color: #bbb;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}
.container {
    flex: 1; /* same as flex-grow: 1; */
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-a {
    text-decoration: none;
    color: #000;
}
.ft-a:hover {
    text-decoration: underline;
    color: #ed1c24;
    font-weight: 400;
}

.ft-ul {
    list-style: none;
    padding-left: 0;
}
.ft-ul li {
    padding: 0.25em;
    padding-left: 0;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/) {
    .ft-main {
        justify-content: space-evenly;
    }
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #a01218;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1; /* same as flex-grow: 1; */
}

.ft-vertical {
    border-left: 2px solid black;
    height: 200px;
    position:absolute;
    left: 30%;
}