.types {
  display: flex;
  flex-direction: row;
}
.imageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0.25em;
}

.logo {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.infoContainer {
  flex: 3;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5em;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero {
  /* background: black; */
  /* margin: 2rem 0; */
  /* margin-left: 8rem; */
  /* margin: auto; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  text-align: center;
}

/* reason to comment: change into simpler design
.cardScholarshipLeft { 
  background: grey;

  width: 400px;
  height: 350px;
}

.cardScholarshipRight {
  padding-left: 120px;

  height: 350px;
  width: 68%;

  background: black;
  color: white;
} */

.heroTitle {
  font-size: 48px;
  margin-top: 40px;
  width: 650px;
  margin-bottom: 25px;
}

.heroSubtitle {
  font-size: 20px;
  margin-top: 40px;
  width: 650px;
  margin-bottom: 80px;
}

.heroAlternative {
  font-size: 12px;
  margin-top: 40px;
  width: auto;
}

.cardContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.card {
  margin-top: 20px;
  width: 376px;
  height: 105px;
  margin: 2rem;

  background: lightgrey;

  display: inline-flex;
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.cardTitle {
  font-size: 32px;
  margin-left: 20px;
}

.cardTertiary {
  font-size: 18px;
  margin-left: 16px;
}
