.types {
  display: flex;
  flex-direction: row;
}
.imageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0.25em;
}

.logo {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.infoContainer {
  flex: 3;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5em;
}

.cardScholarship {
  /* background: black; */
  /* margin: 2rem 0; */
  /* margin-left: 8rem; */
  display: flex;
  margin: auto;
}

.cardScholarshipLeft {
  background: grey;

  width: 400px;
  height: 350px;
}

.cardScholarshipRight {
  padding-left: 120px;

  height: 350px;
  width: 68%;

  background: black;
  color: white;
}

.cardScholarshipTitle {
  font-size: 48px;
  margin-top: 40px;
  width: 650px;
}

.cardScholarshipSubtitle {
  font-size: 22px;
  width: 550px;
  margin-top: 40px;
}

.cardBlog {
  margin-top: 20px;
  display: inline-flex;
  flex-direction: column;
  width: 376px;
  height: 105px;
  margin: 2rem;

  justify-content: center;
  justify-items: center;

  background: lightgrey;
}

.cardBlogName {
  font-size: 32px;
  margin-left: 20px;
}

.cardBlogButton {
  font-size: 18px;
  margin-left: 16px;
}
