.imageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0.25em;
}

.logo {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex: 3; */
  flex-direction: row;
  /* justify-content: flex-start; */
  padding: 0.5em;
}

.infoCard {
  background: #cecece;
  width: 65%;
  padding: 0.5em;
}

.infoCardText {
  /* need to apply this */
  width: 85%;
  color: #000000;
}

.container {
  padding: 90px 0px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: lightgrey;
  border-radius: 0 0 35px 35px;
}

.hero {
  /* background: black; */
  /* margin: 2rem 0; */
  /* margin-left: 8rem; */
  /* margin: auto; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  text-align: center;
}

/* reason to comment: change into simpler design
.cardScholarshipLeft { 
  background: grey;

  width: 400px;
  height: 350px;
}

.cardScholarshipRight {
  padding-left: 120px;

  height: 350px;
  width: 68%;

  background: black;
  color: white;
} */

.heroTitle {
  font-size: 48px;
  margin-top: 40px;
  width: 650px;
  margin-bottom: 25px;
}

.heroSubtitle {
  font-size: 20px;
  margin-top: 40px;
  width: 650px;
  margin-bottom: 80px;
}

.heroAlternative {
  font-size: 12px;
  margin-top: 40px;
  width: auto;
}

.card {
  margin-top: 20px;
  width: 376px;
  height: 105px;
  margin-left: 3rem;

  background: white;

  /* display: inline-block; */
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */

  border-radius: 15px;
}

.cardContainer {
  display: inline-flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: row;
  text-align: center;
}

.card:hover {
  background-color: #f08080;
  /* transition-delay: 0.5s; */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cardTitle {
  font-size: 32px;
  margin-left: 20px;
}

.cardTertiary {
  font-size: 18px;
  margin-left: 16px;
  /* text-decoration: underline; */
}

.cardLink {
  text-decoration: none;
  background: black;
  /* background-color: black; */
  color: black;
}

.cardLink:hover {
  color: inherit;
}
