.scholarshipContainer {
  text-align: center;

  position: flex;
  justify-content: space-evenly;

  /* display: block; */
  margin: auto;

  width: 24%;
  margin-top: 180px;
  margin-bottom: 128px;
  /* padding: 10px; */
}

.submit {
  margin: auto;
  width: auto;
}
