.testimony {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 250px;

  /* margin-bottom: 128px; */
}

.description {
  float: left;
}

.testimonyCarousel {
  position: relative;
  float: right;

  /* margin-left: 450px; */
  /* margin-top: -250px; */
  /* right: 200px; */
  /* margin-bottom: 300px; */

  height: 800px;
  width: 1200px;

  /* margin: 44px 0; */

  /* background: black; */
  border-radius: 8px;
}

img {
  /* height: 512px; */
  /* width: 800px; */
  border-radius: 8px;
  object-fit: contain;
  object-position: 100%;
  width: 30%;
  height: 30%;
}
