.newsCardCont {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: 0 0.5em;
  background-color: white;
  margin-bottom: 1em;

  text-align: center;
  align-items: center;
}

.cardImage {
  width: 100%;
  margin-right: 0.5em;
}

.title {
  font-size: 18px;
  font-weight: bold;
  max-height: 65%;
  overflow: hidden;
}

.verticalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 0;
}

.date {
  font-size: 12px;
  padding-top: 1em;
}

@media screen and (max-width: 960px) {
  .newsCardCont {
    width: 50vw;
    margin-bottom: 2em;
  }
  .cardImage {
    margin-right: 0.5em;
    object-fit: contain;
  }
}
