.container {
    background-color: #e9ecef;
    display: flex;
    padding: 2em;
    min-height: 50vh;
}
.welcome {
    flex: 1;
    padding: 1em;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.welcomeSubtitle {
    font-style: italic;
}
.containerCarousel {
    flex: 1;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.responsive-carousel {
    vertical-align: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.imageContainer {
    min-height: 300px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carouselImage {
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}
.carousel {
    max-width: 100%;
}
.carousel-inner {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.carousel-item {
    max-height: 100vh;
    min-width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.findOut {
    width: 40%;
    background-color: #ec2027;
    margin: 0.5em;
    padding: 1em 0.5em;
    border-radius: 1.75em;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}
.findOut:hover {
    color: black;
}
.contactUs {
    width: 40%;
    background-color: transparent;
    color: black;
    margin: 0.5em;
    padding: 1em 0.5em;
    border-radius: 1.75em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.contactUs:hover {
    color: #ec2027;
}
