.dropdownMenu {
    width: 200px;
    position: absolute;
    top: 70px;
    list-style: none;
    text-align: start;
    z-index: 99;
    display: block;
    left: auto;
    border: 1px solid whitesmoke;
    border-radius: 0.25em;
    background: #fff;
    padding: 0.5em;
}

.dropdownMenu li.states {
    background: #fff;
    color: #ec2027;
    cursor: pointer;
    padding: 0.25em;
    width: 100%;
}

.dropdownMenu li:hover {
    background: #ec2027;
    border-radius: 0.5em;
    color: #fff;
    text-decoration: none;
}

.dropdownMenu.clicked {
    display: none;
}

.dropdownLink {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ec2027;
}
.dropdownLink:hover {
    color: #fff;
}
