.navbar {
    background: #ec2027;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .ppiaLogo {
    width: 100px;
    height: 100px;
  }
  
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .menu-icon {
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 1rem;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-bottom: 0;
    height: 100%;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    height: 90%;
  }
  
  .nav-item:hover {
    background-color: white;
    border-radius: 0.5em;
    transition: all 0.1s;
    color: #ec2027;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    color: inherit;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0.5rem 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f9f9f9;
  }
  
  .nav-item:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 960px) {
    .navbar {
      flex-direction: column;
      height: auto;
      padding: 1em;
    }
  
    .navbar-logo {
      margin-bottom: 1rem;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  
    .nav-item {
      width: 100%;
      padding: 0.5rem 0;
    }
  
    .menu-icon {
      display: flex;
      order: -1;
    }
  }
  