.navbar {
    background: #ec2027;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    overflow: hidden;
}

.navbar-logo:hover {
    color: #fff;
}
.ppiaLogo {
    width: 100px;
    height: 100px;
}
.fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    width: 75vw;
    justify-content: end;
    margin-right: 1rem;
    margin-bottom: 0;
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    width: 18%;
    height: 90%;
}

.nav-item:hover {
    background-color: white;
    border-radius: 0.5em;
    transition: all 0.1s;
    color: #ec2027;
}
.nav-links {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}
.nav-links:hover {
    color: inherit;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.fas {
    z-index: 99999;
}
fa-caret-down {
    z-index: 99999;
}

@media screen and (max-width: 960px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;
        align-items: center;
    }
    .fa-caret-down {
        display: none;
    }
    .NavbarItems {
        position: relative;
    }
    .ppiaLogo {
        width: 75px;
        height: 75px;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #000000;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 9999999999;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #000000;
        border-radius: 0;
    }

    .navbar-logo {
    }

    .menu-icon {
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #fff;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #000000;
        transition: 250ms;
    }

    button {
        display: none;
    }
    .fa-caret-down {
        display: none;
    }
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #000000;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 9999999999;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #000000;
        border-radius: 0;
    }

    .navbar-logo {
    }

    .menu-icon {
        display: block;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #fff;
        text-decoration: none;
        color: rgb(123, 63, 63);
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #000000;
        transition: 250ms;
    }

    button {
        display: none;
    }
}
