/* Page CSS */
.page {
  display: block;
  padding-bottom: 32px;
}

.title {
  margin: 35px 35px 35px 35px;
  font-size: 32px;
  font-family: Arial;
  text-decoration: none solid rgb(0, 0, 0);
}

.subtitle {
  margin-top: 68px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: Arial;
  text-decoration: none solid rgb(33, 37, 41);
}

.page-content {
  display: flex;
  margin: auto;
  width: 73%;
  padding-top: 80px;
}

.entry-thumb {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  height: auto;
}

.entry-text {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  font-size: 28px;
  padding-top: 3%;
  padding-left: 20px;
}

.share-icons {
  display: flex;
  padding-top: 2px;
  margin-left: 17%;
  width: 7%;
  align-content: flex-start;
  justify-content: space-between;
  z-index: -1;
}

.object-title {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
}
.object-desc {
  font-size: 16px;
  font-family: Arial;
}

.box {
}
