

/* .main-section {
    margin: auto auto 0 auto;
    width: 100%;
}

.heading--main {
    text-align: left;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
} */

.container {
    margin: 2rem 3rem 2rem 3rem;
    padding: 0 1rem 0 1rem;
}

.divisionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10rem;
}

.memberCard {
    width: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.cardImage {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}
