/* Background color and positioning for carousel */
.background{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #e9ecef;
    border-radius: 5px;
    max-height: 580px;
}
/* Forces images to stay within the width and height */
.carousel-item {
    width: 100vw;
    height: 580px;
}

/* CSS to change the arrow color to black
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
*/