.front-page {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.carousel {
    width: 100vw;
    max-height: 86vh;
    overflow: hidden;
}

.responsive-carousel {
    width: 100%;
    height: auto;
}

.background {
    background-color: #e9ecef;
    max-height: 86vh;
    border-radius: 5px;
}

.img-gallery {
    flex-flow: row wrap;
    padding : 40px;
}

.responsive-gallery {
    width: 180px;
    height: 180px;
}

.news-cards {
    flex-flow: row wrap;
}

/* CSS to change the arrow color to black
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
*/