.smallNewsCont {
    padding: 1em;
    display: flex;
    flex-direction: row;
}
.thumbnail {
    width: 50px;
    height: 50px;
}
.newsTitle {
    color: black;
    padding-left: 1em;
    width: 100%;
}
